@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)
      
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1pxTop
    &::before
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1pxTop
    &::before
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1pxLeft
    &::after
      -webkit-transform: scaleX(0.7)
      transform: scaleX(0.7)

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1pxLeft
    &::after
      -webkit-transform: scaleX(0.5)
      transform: scaleX(0.5)

.van-picker__cancel, .van-ellipsis, .van-picker__confirm
  color: #2873FF;

.van-ellipsis
  font-size: 16px;

.van-hairline--top-bottom:after
  border-image: linear-gradient(to right,#FFFFFF, #2873FF, #FFFFFF) 2 2 2

.van-picker__toolbar:after
  display none

.button-cell
  height 30px
  width 100%
  display flex
  font-size: 14px;
  .reset
    background: #C6DAFF
    color #2873FF
    flex 1
  .complete
    color white
    background: #2873FF;
    flex 1
.button-one
  width: 100%
  text-align: center
.butto
  color white
  background: #2873FF;
  width 100px
  height 30px
  border-radius: 6px;
  margin-top 15px

.btn
  text-align: center
  
.formCell
  display flex
  justify-content: space-between
  // align-items: center
.black
  font-size: 16px;
  color: #333333;
  font-weight 700

.table
  // margin 12px 6px 0 6px
  table
    width 100%
    border-collapse:collapse
    text-align center
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
    th
      background  #003BAA
      color white
      font-size: 14px;
      height 40px
    tr
      background: #FFFFFF;
      font-size: 14px;
      color: #999999;
      height 26px
input:focus::-webkit-input-placeholder
  color: transparent;
input:focus:-moz-placeholder
  color: rgb(161, 161, 161);
input:focus::-moz-placeholder
  color: transparent;
input:focus::-ms-input-placeholder
  color: transparent;
input::-webkit-input-placeholder
  color: rgb(161, 161, 161);
  font-weight 400
  // font-size 12px
input:-moz-placeholder
  color: rgb(161, 161, 161);
  font-weight 400
  // font-size 12px
input::-moz-placeholder
  color: rgb(161, 161, 161);
  font-weight 400
  // font-size 12px
input::-ms-input-placeholder
  color: rgb(161, 161, 161);
  font-weight 400
  
textarea:focus::-webkit-input-placeholder
  color: transparent;
textarea:focus:-moz-placeholder
  color: rgb(161, 161, 161);
textarea:focus::-moz-placeholder
  color: transparent;
textarea:focus::-ms-input-placeholder
  color: transparent;
textarea::-webkit-input-placeholder
  color: rgb(161, 161, 161);
  font-weight 400
  // font-size 12px
textarea:-moz-placeholder
  color: rgb(161, 161, 161);
  font-weight 400
  // font-size 12px
textarea::-moz-placeholder
  color: rgb(161, 161, 161);
  font-weight 400
  // font-size 12px
textarea::-ms-input-placeholder
  color: rgb(161, 161, 161);
  font-weight 400
