border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '

border-1pxTop($color)
  position: relative
  &:before
    display: block
    position: absolute
    left 0
    top: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '

border-1pxLeft($color)
  position: relative
  &:after
    display: block
    position: absolute
    left 0
    top 0
    height: 100%
    border-left: 1px solid $color
    content: ' '

border-1pxRight($color)
  position: relative
  &:after
    display: block
    position: absolute
    right 0
    top 0
    height: 100%
    border-left: 1px solid $color
    content: ' '

border-none()
  &:after
    display none

bg-image($url)
  background-image: url("./image/" + $url + ".png")
  background-repeat: no-repeat
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background-image: url("./image/" + $url + "@2x.png")

bg-aimage($url)
  background-image: url("../image/" + $url + ".png")
  background-repeat: no-repeat
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background-image: url("../image/" + $url + "@2x.png")

text-nowrap()
  overflow hidden
  white-space: nowrap
  text-overflow: ellipsis

text-wrap()
  overflow hidden
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  text-overflow: ellipsis

form-cell-left($font)
  background white
  height 26px
  display flex
  align-items center
  justify-content space-between
  padding 0 10px
  font-size: $font;
  color: #333333;
  box-sizing border-box

$blue=#2873FF
$light=#c6daff
$orange=#F9712C
$red=#fd4d4d
$deepred = #C90B0B
$green=#45c186
